<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Acervo de Livros</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Acervo de Livros</h2>
  <p>
    <a href="/livros/novo">+ Cadastrar Novo Livro</a> | 
    <a href="/emprestimos" style="margin-left:10px;">Gerenciar Empréstimos</a>
</p>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Autor</th>
                <th>ISBN</th>
                <th>Ano</th>
                <th>Qtd</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- TABELA_LIVROS -->
        </tbody>
    </table>
</body>
</html>